/* CSS Document */

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('https://drive.google.com/uc?export=download&id=0B_xGwz-6mChNYXdPbmtENkxIaTQ');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }
h1 {
  font-family: 'Lobster', cursive;
  font-size: 32px;
  text-shadow: 2px 1px gray;
}
h3 {
  font-size: 12px;
  color: #000000;
}
nav a {
  text-shadow: 2px 1px gray;
  text-decoration: none;
  padding: 10px 10px;
  margin: 10px 5px;
  background-color: #31bba8;
  opacity: 0.8;
  border-radius: 4px;
  color: white;
}
nav li {
  display: inline;
  list-style-type: none;
}
footer a {
  display: inline;
}
  #projects img {
  height: 200px;
  margin: 0 auto;
  position: center;
}
.profile-photo {
  width: 300px;
  margin: 20px;
}

.icon {
  width: 30px;
  height: 30px;
}
iframe {
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  display: block;
}
.resumelink {
  width: 400px;
  margin: 0 auto;
  display: block;
}
#about p {
  font: 12px helvetica;
  color: white;
  width: 500px;
}
#contact p {
  color: white;
}
