/* CSS Document */

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('https://drive.google.com/uc?export=download&id=0B_xGwz-6mChNYXdPbmtENkxIaTQ');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }
h1 {
  font-family: 'Lobster', cursive;
  font-size: 32px;
  text-shadow: 2px 1px gray;
}
h3 {
  font-size: 12px;
  color: #000000;
}
nav a {
  text-shadow: 1px 1px white;
  text-decoration: none;
  border-radius: 4px;
  color: teal;
}
nav li {
  display: inline;
  list-style-type: none;
}
footer a {
  display: inline;
}
  #projects img {
  height: 350px;
  margin: 0 auto;
  position: center;
}
.profilep {
  width: 300px;
  margin: 20px;
  float: right;
}

.icon {
  width: 30px;
  height: 30px;
}
.resumeframe {
  width: 600px;
  height: 800px;
  margin: 0 auto;
  display: block;
}
.resumelink {
  width: 400px;
  margin: 0 auto;
  display: block;
}

.about-copy {
  font: 12px helvetica;
  color: white;
  width: 500px;
  float: left;
}
#contact p {
  color: white;
}
header {
  width: 100%;
  overflow: hidden;
}
header nav {
  float: right;
}
.logo {
  float: left;
}
